* {
  font-family: "Rubik", sans-serif;
  margin: 0%;
  --teel: teal;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header */

/* to toggle nav bar */
.showNav-enter {
  margin-top: 0vh;
  transition: all 1000ms ease-in-out;
}

/* to toggle nav bar */
.hideNav-enter {
  margin-top: -10vh;
  transition: all 1000ms ease-in-out;
}

header {
  background-color: black;
  color: white;
  height: 10vh;
  width: 100%;
  margin: auto;
  position: fixed;
  display: flex;
  z-index: 15;
  cursor: pointer;
}

h1.HG {
  font-weight: 900;
  font-family: "Braah One", sans-serif;
  letter-spacing: 5px;
  font-size: 9vh;
  padding: 3px;
  padding-left: 30px;
}
.teel {
  padding: 0% !important;
  color: var(--teel);
}

header ul {
  width: 100%;
  padding-left: 0%;
  border-radius: 100px;
  display: flex;
  background-color: transparent;
}

header li {
  color: white;
  list-style: none;
  background-color: transparent;
  margin: auto;
  font-weight: 900;
}

li:hover {
  /* animation: rubberBand linear 1s; */
  color: var(--teel);
}

/* FrontPage */

.frontPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 300px;
  /* border: 3px solid red; */
  justify-content: space-around;
  box-sizing: border-box;
  z-index: 4;
  background-color: white;
}

.frontPage .imageDiv {
  width: 100%;
  height: 80%;
  padding-top: 6vh;
  background: black;
  border: 1px solid black;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
}

.bg-image {
  /* The image used */
  background: url("../public/Images/bg.jpg");

  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 100%;
  min-height: 250px !important;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 35vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.bg-text p {
  opacity: 0.7;
}

.textContainer {
  /* border: 3px solid black; */
  width: 100%;
  text-align: center;
  background: white;
  z-index: 5;
}

.textContainer .headingChar {
  font-size: 6rem;
  color: white;
  font-family: "Braah One", sans-serif;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  /* animation: fakeAnimation linear 1s; */
  /* animation-iteration-count: infinite; */
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}


.headingChar:hover {
  color: var(--teel);
}

.rubber {
  animation: rubberBand linear 1s;
}

.rubber:hover {
  color: var(--teel) !important;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* about */

.aboutPage .aboutText {
  color: white;
  font-family: "Braah One", sans-serif;
  position: sticky;
  text-align: center;
  top: 50vh;
  z-index: 2;
  /* background-color: rgb(0, 0, 0);  */
  /* background-color: rgba(0, 0, 0, 0.1);  */
}

.comparisonSection {
  position: relative;
  padding-bottom: 56.25%;
   /* to maintain aspect ratio (responsive!) */
  overflow-x: hidden;
  /* border: 3px solid red; */
  right: 1px;
}
.comparisonImage {
  width: 100%;
  height: 100%;
}
.comparisonImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* overflow: hidden; */
  position: absolute;
  top: 0;
}

.beforeImage img {
  filter: blur(2px) grayscale(1);
  -webkit-filter: blur(2px) grayscale(1);
}

.afterImage {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(100%, 0px);
}
.afterImage img {
  transform: translate(-100%, 0px);
  filter: blur(2px) brightness(1.3);
  -webkit-filter: blur(2px) brightness(1.3);
}

/* ranker page */

.rankerPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border: 3px solid red; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rankerHeading {
  width: 100%;
  height: fit-content;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url("../public/Images/bg.jpg");
  color: transparent;

  /* border: 3px solid blue; */
}

.rankerHeading h1 {
  font-family: "Braah One", sans-serif;
  font-size: 10vw;
  font-weight: 900;
  text-transform: uppercase;
}

.rankersDiv {
  width: 100%;
  height: fit-content;
  margin-top: 15vw;
  /* border: 3px solid green; */
  background-color: var(--teel);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.ranker {
  background: var(--teel);
  width: 30%;
  height: 80%;
  /* border: 3px solid green; */
}
.ranker .infoDiv {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.ranker .imgDiv {
  /* background: orange; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  border-radius: 100%;
}
.ranker img {
  width: 100%;
  aspect-ratio: 1/1;
  border: 10px solid white;
  background: white;
  border-radius: 100%;
  position: relative;
  -webkit-transform: translate(0%, -45%);
  -moz-transform: translate(0%, -45%);
  -ms-transform: translate(0%, -45%);
  -o-transform: translate(0%, -45%);
  transform: translate(0%, -45%);
  transition: all;
  transition-duration: 1000ms;
  transition-timing-function: ease;
}

.ranker img:hover {
  scale: 1.1;
}

.ranker .scoreDiv {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -15%;
  margin-bottom: 20px;
  color: white;
}

.scoreDiv h2 {
  font-size: 2rem;
  margin-bottom: 3vh;
}

/* contact me */
.contactPage {
  /* border-top: 3px solid var(--teel); */
  display: flex;
  width: 100%;
  min-height: 50vh;
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contactContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.contactPage a {
  border: 3px solid white;
  background-color: var(--teel);
  color: white;
  font-weight: 900;
  width: 28%;
  aspect-ratio: 4/1;
  padding: 10px;
  transition: all 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactPage a:hover {
  scale: 1.02;
  box-shadow: 0 1px 13px 0 var(--teel);
}
.contactContainer div {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactPage button {
  color: white;
  background: transparent;
  border: 0px;
  font-weight: 900;
  font-size: larger;
}

/* universal */

section {
  height: 100vh;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

.partioner {
  border-top: 1px solid #919191;
  width: 80%;
  margin: 5vh auto;
}


/* Loader */

.loader{
  position: absolute;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader .border{
  border: 5px solid black; 
  border-top: 5px solid var(--teel);
  border-radius: 50%;
  padding: 13vh;
  animation: spin 4s linear infinite;
}

.loader h1{
  position: absolute;
  font-size: 20vh;
  color: white;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  70% { transform: rotate(400deg); }
  100% { transform: rotate(720deg); }
}


/* responsive */
@media screen and (max-width: 1000px) {
  .frontPage {
    flex-direction: column;
  }

  .profile {
    width: 50%;
    aspect-ratio: 1/1.5;
  }

  .rankerPage {
    height: 80%;
  }

  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .contactPage a {
    font-size: 1.3rem;
    width: 70%;
    margin-top: 5%;
  }
}

@media screen and (max-width: 660px) {
  .headingChar {
    font-size: 4rem !important;
  }

  .textContainer .headingChar {
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
      1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
      1px 10px 1px #919191, 1px 18px 6px rgba(78, 78, 78, 0.4),
      1px 22px 10px rgba(78, 78, 78, 0.2), 1px 25px 35px rgba(78, 78, 78, 0.2),
      1px 30px 60px rgba(78, 78, 78, 0.4);
  }

  .rankerPage {
    height: 60%;
  }
  .ranker {
    width: 33.3%;
  }

  .ranker img {
    border: 5px solid white;
  }

  .scoreDiv h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .rankerPage {
    height: 50%;
  }
  header {
    width: 99%;
    left: 0%;
    font-size: 10px !important;
  }
}

@media screen and (max-height: 600px){
  .bg-text{
    font-size: smaller;
  }
}
